<div class="container">
    <div class="cards">
        <div class="card">
            <div class="card__preview">
                <img src="./img/0613312a610374019588718c9aa010c7.jpg" alt="Фото">
                <span class="card__label">круглый год</span>
            </div>

            <div class="card__description-wrap">
                <div class="card__description">
                    <span class="card__duration">
                        2 часа
                    </span>

                    <h2 class="card__title">
                        АКЦИЯ - Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2019
                    </h2>

                    <ul class="card-list">
                        <li class="card-list__item">Билет на целый день</li>
                        <li class="card-list__item">Неограниченное число катаний</li>
                        <li class="card-list__item">6 остановок у главных достопримечательностей</li>
                        <li class="card-list__item">Ближайший рейс сегодня
                            <div class="time-wrap card-list__time">

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-1-time1">
                                <label class="time" for="card-1-time1">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-1-time2">
                                <label class="time" for="card-1-time2">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-1-time3">
                                <label class="time" for="card-1-time3">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-1-time4">
                                <label class="time" for="card-1-time4">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-1-time5">
                                <label class="time" for="card-1-time5">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-1-time6">
                                <label class="time" for="card-1-time6">12:00</label>

                                <button class="time">ещё...</button>
                            </div>
                        </li>
                    </ul>

                    <div class="card__footer">
                        <strong class="card-price-wrap">
                            <span class="card-price">
                                900
                                <span class="card-price__currency">&#8381;</span>
                                <span class="other-price">1200 р на причале</span>
                            </span>
                        </strong>

                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__preview">
                <img src="./img/3b25fb7b297c673ba68f569157439093.jpg" alt="Фото">
                <span class="card__label">круглый год</span>
            </div>

            <div class="card__description-wrap">
                <div class="card__description">
                    <span class="card__duration">
                        2 часа
                    </span>

                    <h2 class="card__title">
                        АКЦИЯ - Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2019
                    </h2>

                    <ul class="card-list">
                        <li class="card-list__item">Билет на целый день</li>
                        <li class="card-list__item">Неограниченное число катаний</li>
                        <li class="card-list__item">6 остановок у главных достопримечательностей</li>
                        <li class="card-list__item">Ближайший рейс сегодня
                            <div class="time-wrap card-list__time">

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time1">
                                <label class="time" for="card-2-time1">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time2">
                                <label class="time" for="card-2-time2">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time3">
                                <label class="time" for="card-2-time3">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time4">
                                <label class="time" for="card-2-time4">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time5">
                                <label class="time" for="card-2-time5">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time6">
                                <label class="time" for="card-2-time6">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time1">
                                <label class="time" for="card-2-time1">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time2">
                                <label class="time" for="card-2-time2">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time3">
                                <label class="time" for="card-2-time3">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time4">
                                <label class="time" for="card-2-time4">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time5">
                                <label class="time" for="card-2-time5">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-2-time6">
                                <label class="time" for="card-2-time6">12:00</label>

                                <button class="time">ещё...</button>
                            </div>
                        </li>
                    </ul>

                    <div class="card__footer">
                        <strong class="card-price-wrap">
                            <span class="card-price">
                                900
                                <span class="card-price__currency">&#8381;</span>
                                <span class="other-price">1200 р на причале</span>
                            </span>
                        </strong>

                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__preview">
                <img src="./img/542237c7b10b8d3a01cd49004258251f.jpg" alt="Фото">
            </div>

            <div class="card__description-wrap">
                <div class="card__description">
                    <span class="card__duration">
                        2 часа
                    </span>

                    <h2 class="card__title">
                        АКЦИЯ - Обзорная экскурсия по рекам и каналам с остановками Hop on Hop Off 2019
                    </h2>

                    <ul class="card-list">
                        <li class="card-list__item">Билет на целый день</li>
                        <li class="card-list__item">Неограниченное число катаний</li>
                        <li class="card-list__item">6 остановок у главных достопримечательностей</li>
                        <li class="card-list__item">Ближайший рейс сегодня
                            <div class="time-wrap card-list__time">

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-3-time1">
                                <label class="time" for="card-3-time1">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-3-time2">
                                <label class="time" for="card-3-time2">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-3-time3">
                                <label class="time" for="card-3-time3">12:00</label>

                                <input type="radio" class="time-input" name="time" value="12:00" id="card-3-time4">
                                <label class="time" for="card-3-time4">12:00</label>

                                <button class="time">ещё...</button>
                            </div>
                        </li>
                    </ul>

                    <div class="card__footer">
                        <strong class="card-price-wrap">
                            <span class="card-price">
                                900
                                <span class="card-price__currency">&#8381;</span>
                                <span class="other-price">1200 р на причале</span>
                            </span>
                        </strong>

                        <a href="#" class="btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>